.ui-icon-play:after {
	background-image: url("../img/play-white.png");
}
.ui-icon-calibrate:after {
	background-image: url("../img/calibrate-white.png");
}
* {
	text-align:center;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
}
