* {
	text-align:center;
}
/*#menu {
	display:block;
}
#game {
	display:none;
}
body, html {
	height:100%;
}
div.wrap {
	height:100%; 
	overflow:hidden;
}
body {
	overflow:hidden;
}*/

.ui-icon-play:after {
	background-image: url("../img/play-white.png");
}
.ui-icon-calibrate:after {
	background-image: url("../img/calibrate-white.png");
}